
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#reset, #replay {
    padding: 10px 30px;
    font-size: 18px;
}

.game-board {
    margin-top: 40px;
    display: grid;
    width: 70vmin;
    height: 70vmin;
    grid-template-columns: repeat(3, 1fr);
    background-color: aliceblue;
}

.cell {
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vmin;
    line-height: 0;
}

.cell:hover {
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.377);
}

.finish-modal {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

